#search_bar
  =form_tag '/search', :method => 'get' do
    =label_tag :q, 'Search for:'
    =text_field_tag :q, nil, {:type => :search, :results => 10}
    =submit_tag 'Search'
    

#common_tags
  #h2 Existing tags
  -@tags.all.each do |tag|
    =link_to tag.name, tag_path(tag)
    -unless tag == @tags.last
      .separator &#149;
