=@user.email

#new_note
  =render :partial => 'notes/form', :locals => {:note => @new_note}

#user_notes
  #filter
    #by_tag
      -@user.tags.each do |tag|
        =link_to tag.name, user_path(@user, :filter_by_tag => tag.name)
    #by_search
  
  -@notes.newest_first.each do |note|
    .note{:id => "note_#{note.id}"}
      =render :partial => 'notes/results_block', :locals => {:note => note}
    