%h1= @tag.name

#user_notes
  -@user_notes.each do |note|
    .user_note{:id => "note_#{note.id}"}
      =render :partial => '/notes/results_block', :locals => {:note => note}
    
#public_notes
  -@public_notes.each do |note|
    .public_note{:id => "note_#{note.id}"}
      =render :partial => '/notes/results_block', :locals => {:note => note}
