#title_bar
  %h1 Terms of Service
  
#tos.section
  %p.big
    FutureNotes is in early development and the developers (hereafter referred to as 'I') don't
    have much interest in lawyers at the moment, so I'll keep this short.

  %p.medium
    %ul
      %li I'll do my best to provide a product you love and want to use.  
      %li 
        I'll do my best to keep anything you designate 'private' as such (unless the FBI knocks on my 
        door and it turns out you're using the site to distribute kiddie porn or some such nonsense).
      %li I won't sell your personal data

  %p.medium
    %ul
      %li You shouldn't be surprised if things you designate 'public' show up in search engines.  
      %li Since you're not paying anything, please spread the word if you like the page.
  
  %p.medium
    These terms are likely to change if this page is ever monetized, and I reserve the right
    to do so without telling you about it.