/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

$white: white;
$blue: #4fa3f7;
$light_blue: #abd1f7;
$red: #f77f72;
$grey: #555555;
$light_grey: #777;
$lighter_grey: #aaa;

@import 'reset';
@import 'scaffolds';


body {
margin: 0;
padding: 0;
}
#content {
  clear: both;
}


@import 'footer';
@import 'header';
@import 'notes';
@import 'search';
@import 'shared';
@import 'static';
@import 'tags';
@import 'users';

@import 'jquery.autocomplete'