#footer {
  width : 100%;
  line-height : 20px;
  margin: 0;
  margin-top : 10px;
  text-align : center;
  color: $grey;
  
  div { display : inline; }
  a { 
    text-decoration : none; 
    color : $grey;
  }
  a:hover {
    color: $light_grey;
  }
}