#header {
  width : 100%;
  border-bottom : 1px solid black;
  
  div { display : inline; }
  a { 
    text-decoration : none; 
    color : black
  }
  a:hover {
    color : white;
    background : black;
  }
  
  line-height : 40px;
  #logo {
    font-size : 36px;
  }
  
  #add_note {
    font-size : 24px;
    float : right;
  }
}