// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white: white;
$blue: #4fa3f7;
$light_blue: #abd1f7;
$red: #f77f72;
$grey: #555555;
$light_grey: #777;

$title_size: 34px;
$title_line_height: 36px;
$title_font: 'Rokkitt';

$description_size: 18px;
$description_line_height: 20px;
$description_font: 'Arvo';

#new_note, #edit_note {
  #title {
    input {
      width: 100%;
      height: $title_line_height;
      font-size: $title_size;
      line-height: $title_line_height;
      font-family: $title_font;
      color: $grey;
    }
  }
  
  #description {
    textarea {
      width: 100%;
      height: $description_line_height * 10;
      font-size: $description_size;
      line-height: $description_line_height;
      font-family: $description_font;
      color: $light_grey;
    }
  }
  
  #new_tag {
    display: inline;
    input {
      width: 50%
    }
  }
  
  //#tags
  
  #save {
    float: right;
    display: inline;
  }
}

.note {
  margin-bottom: 30px;

  .title {
    font-family: $title_font;
    font-weight : 400;
  
    h2 {
      font-size : $title_size;
      line-height: $title_line_height;  
    }
  }

  .description {
    font-size : $description_size;
    line-height: $description_line_height;
    font-family: $description_font;
    font-weight : 400;
    text-align: justify;
    color: $light-grey;
    margin-bottom: 10px;
  }

  .code {
   font-family: 'Inconsolata';
  }

  .tags {
    font-family: $title_font;
    font-size: 20px;
    line-height: 24px;
    margin-top: 5px;
  
    .separator { color: $light_blue; display: inline; }
  }

  .edit {
    
  }
}
