@import 'variables';

body {
  background-color: #fff;
  color: #333;
  font-family: 'Helvetica Neue', arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
  background-image: 
    -webkit-gradient(radial, 50% 300, 200, 50% 400, 600, from(rgba(0,0,0,.4)), to(rgba(0,0,0,.7))), 
    url('/assets/wood_background.jpg');
  background-attachment:fixed;
  margin: 0;
  
  #content {
    width: 720px;
    margin-top : 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    padding: 40px;
    background: $white;
    color: $grey;
    -webkit-box-shadow: 5px 5px 15px black;

    a {
      color: $blue;
      text-decoration: none;
      &:visited {
        color: $blue; }
      &:hover {
        border-bottom: 1px solid $red
      }
    }
  }
}

p, ol, ul, td {
  font-family: 'Helvetica Neue', arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
